In [1]:
import numpy as np 
import pandas as pd

In [3]:
movie_df = pd.read_csv("movies_data.csv")

In [5]:
movie_df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili"
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,en,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin"
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish"
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian"

In [7]:
print("\nMissing Values:")
print(movie_df.isnull().sum())

Missing Values:
id                           0
title                       12
vote_average                 0
vote_count                   0
status                       0
release_date            119776
revenue                      0
runtime                      0
adult                        0
backdrop_path           725420
budget                       0
homepage                900763
imdb_id                 436227
original_language            0
original_title              12
overview                184275
popularity                   0
poster_path             282324
tagline                 865390
genres                  374504
production_companies    531164
production_countries    413395
spoken_languages        402909
dtype: int64

In [9]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010131 entries, 0 to 1010130
Data columns (total 23 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1010131 non-null  int64
 1   title                 1010119 non-null  object
 2   vote_average          1010131 non-null  float64
 3   vote_count            1010131 non-null  int64
 4   status                1010131 non-null  object
 5   release_date          890355 non-null   object
 6   revenue               1010131 non-null  int64
 7   runtime               1010131 non-null  int64
 8   adult                 1010131 non-null  bool
 9   backdrop_path         284711 non-null   object
 10  budget                1010131 non-null  int64
 11  homepage              109368 non-null   object
 12  imdb_id               573904 non-null   object
 13  original_language     1010131 non-null  object
 14  original_title        1010119 non-null  object
 15  overview              825856 non-null   object
 16  popularity            1010131 non-null  float64
 17  poster_path           727807 non-null   object
 18  tagline               144741 non-null   object
 19  genres                635627 non-null   object
 20  production_companies  478967 non-null   object
 21  production_countries  596736 non-null   object
 22  spoken_languages      607222 non-null   object
dtypes: bool(1), float64(2), int64(5), object(15)
memory usage: 170.5+ MB

In [11]:
tmdb_df = movie_df.dropna()

In [12]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010131 entries, 0 to 1010130
Data columns (total 23 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1010131 non-null  int64
 1   title                 1010119 non-null  object
 2   vote_average          1010131 non-null  float64
 3   vote_count            1010131 non-null  int64
 4   status                1010131 non-null  object
 5   release_date          890355 non-null   object
 6   revenue               1010131 non-null  int64
 7   runtime               1010131 non-null  int64
 8   adult                 1010131 non-null  bool
 9   backdrop_path         284711 non-null   object
 10  budget                1010131 non-null  int64
 11  homepage              109368 non-null   object
 12  imdb_id               573904 non-null   object
 13  original_language     1010131 non-null  object
 14  original_title        1010119 non-null  object
 15  overview              825856 non-null   object
 16  popularity            1010131 non-null  float64
 17  poster_path           727807 non-null   object
 18  tagline               144741 non-null   object
 19  genres                635627 non-null   object
 20  production_companies  478967 non-null   object
 21  production_countries  596736 non-null   object
 22  spoken_languages      607222 non-null   object
dtypes: bool(1), float64(2), int64(5), object(15)
memory usage: 170.5+ MB

In [24]:
# Example: Extracting movie genres
genres = movie_df['genres'].str.split('|', expand=True)
genres.columns = ['genre_' + str(col) for col in genres.columns]
movie_df = pd.concat([movie_df, genres], axis=1)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

# Example: Content-based filtering using movie genres
# Assuming 'genres' column contains the genres of each movie separated by '|'

# Create TF-IDF Vectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words='english')

# Fill NaN values in genres column with empty string
movie_df['genres'] = movie_df['genres'].fillna('')

# Construct TF-IDF matrix
tfidf_matrix = tfidf_vectorizer.fit_transform(movie_df['genres'])

# Compute cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

# Function to get recommendations based on similarity scores
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = movie_df[movie_df['title'] == title].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]  # Exclude the movie itself
    movie_indices = [i[0] for i in sim_scores]
    return movie_df['title'].iloc[movie_indices]

# Example usage
print(get_recommendations('The Dark Knight'))

In [ ]:
print(get_recommendations('The Avengers'))